<main class="container">
  <section class="card">
    <header class="card-head">
      <h1 class="card-title">Signaler un nouvel incident</h1>
    </header>

    <form class="form">
      <div class="field">
        <label for="desc" class="label">Description</label>
        <textarea id="desc" name="description" class="input input-area" placeholder="Que s’est-il passé ?"></textarea>
      </div>

      <div class="field">
        <label for="addr" class="label">Adresse</label>
        <input id="addr" type="text" name="adresse" class="input" placeholder="">
      </div>

      <div class="actions">
        <button class="btn" type="submit" disabled>Soumettre </button>
      </div>
    </form>
  </section>
</main>